version: '3.9'

services:
  db:
    image: postgres:16.9 # Use a specific version for consistency
    container_name: postgres-container
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data # Mount a named volume for data persistence

volumes:
  pgdata:
